html {
    background-image: url("https://i.imgur.com/cSBRJkz.jpg");
}
.content-box {
    display: inline;
    background-color: rgba(198, 178, 169, 0.8);
    margin: 1em;
    flex: 1;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: black;

    }
body { 
    font-family: monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;
    margin-bottom: 0! important;
    max-width: 900px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 1em;
    }
#banner {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    background-color: rgba(147, 171, 191, 0.8);
}
#content-wrapper {
    display: flex;
}
#text-box {
}
#chat-box {
    min-width: 70%;
}
#chat {
	background: #ffffff;
	min-width: 100%;
	position: relative;
	flex-direction: column;
}
#userlist {
	background: #ffffff;
	min-width: 100%;
	position: relative;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}
#messagesContainer {
	height: 25em;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	overflow-y: scroll;
	overflow-x: hidden;
}
#messages {
}
#chat-input-container {
	display: flex;
	background: #000;
	width: 100%;
	bottom: 0;
	
}
#m {
	width: 100%;
}
.chat-message {
	display: flex;
}
.chat-message-info {
	display: flex;
	background: #f4f4f4;
}
.chat-date-info {
	padding-left: 0.5em;
	padding-right: 0.5em;
	min-width: 7em;
	background: #f4f4f4;
	text-align: center;
}
.chat-flag-info {
}
.chat-name-info {
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-weight: bold;
}
.chat-message-contents {
	background: white;
	flex-grow: 2;
	word-wrap: break-word !important;
	hyphens: auto;
}
.user-info {
	display: flex;
}
